@charset "UTF-8";

li {
	list-style-type: none;
}

.navbar, .items {
	display: inline-block;
	float: left;
	padding-left: 1em;
}

.navbar {
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 1px;
	border-style: solid;
	border-color: black;
	width: 10%;
	height: 40em;
}

.items {
	width: "50%";
	height: "109em";
}

.floatRight {
	text-align: right;
}